[Unit]
Description=Witch worker
After=network.target mysql.service

[Service]
Type=simple
WorkingDirectory=/home/witch/htdocs/witch.pw
EnvironmentFile=/home/witch/htdocs/witch.pw/.env
ExecStart=/usr/bin/npx tsx --require ./worker/register-server-only.cjs worker/index.ts
Restart=on-failure
RestartSec=5
User=witch
Group=witch

[Install]
WantedBy=multi-user.target
